parameters:
    level: 9
    paths:
        - src
    tmpDir: build/phpstan
    reportUnmatchedIgnoredErrors: true
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: true
